<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeeClik.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
				<key>dateExpires</key>
				<string>19/05/2020</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AppImageViewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BLTNBoard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CRNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Compass.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Floaty.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Gallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Hue.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KJNavigationViewAnimation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KRLCollectionViewGridLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LGButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LMGeocoderSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Material.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MobilePlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Motion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NSFWDetector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Parse.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SPLarkController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SPPermission.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SecureDefaults.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftMultiSelect.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyStoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TLPhotoPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WXImageCompress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZAlertView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZKCarousel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Zingle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0F2E19021D6D4C1B10137283A2818D7D38702F6</string>
						<key>dateExpires</key>
						<string>19/05/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X776XA45RM</string>
						<key>name</key>
						<string>Eric Wolber</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X776XA45RM.fr.herrick-wolber.WeeClik</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>X776XA45RM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>WeeClik.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fcc85b2e-2c4d-426a-8fd5-8b027d95fe13</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: fr.herrick-wolber.WeeClik</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X776XA45RM</string>
				<key>name</key>
				<string>Eric Wolber</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
