<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleDisplayName</key>
	<string>Weeclik</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1773255456018247</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>fr.herrick-wolber.WeeClik</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>weeclik</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1773255456018247</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookDisplayName</key>
	<string>WeeClik</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fbapi</string>
		<string>waze</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Nous avons besoin de l'accès à vote caméra afin d'ajouter des photos/vidéos à votre commerce</string>
	<key>NSContactsUsageDescription</key>
	<string>Nous avons besoin de l'accès à vos contacts pour créer un groupe.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Nous avons besoin de votre position afin de vous afficher les commerces autour de vous</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Nous avons besoin de votre position afin de vous afficher les commerces autour de vous</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Nous avons besoin de votre position afin de vous afficher les commerces autour de vous</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Nous en avons besoin de cet l'accès afin de créer un groupe.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Nous avons besoin de l'accès à vos photos/vidéos pour alimenter votre commerce</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pacifico</string>
		<string>OpenSans</string>
		<string>BebasNeue</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
