<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>WeeClik-DEV.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>WeeClik-Playground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>WeeClik.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WeeClikPlayground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>ZE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F03AB892360C18B0027D6EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F2CDCC22363A4C400753E9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FA473291F1EE7E400D2A306</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FA8EFF422D0E12400DCD52E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FB81C50236485B500A41A98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FB9B2AE226E785E009C3E65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
